{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Confirm password reset</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button>Confirm</button>
                    </form>
                    <div class="card-footer">
                        <a class="card-link" href="{% url 'dashboard' %}">back to dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
