{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card my-5">
            <div class="card-header">
                <h2>Change password</h2>
            </div>
            <div class="card-body">                        
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary btn-lg btn-block">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'dashboard' %}">back to dashboard</a>
{% endblock content %}

    