{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
.col-md-6{
    height: 60vh;
}
.img-top{
    float: right;
   width: 400px;
   height: 50vh;
   display: flex;
   background-color: transparent;
   object-fit: cover;}
</style>
{% endblock css %}
    
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8 py-4">
            <h3>{{chat_header}}</h3>
        </div>
        <div class="col-md-6 max-auto">
            
            <div class="list-group">
                {% for person in people %}
                <a href="{% url 'room' person.user %}" class="list-group-item list-group-item-action ">
                    {{person.user}}
                </a>
                {% empty %}
            
            
                {% endfor %}
                
            </div>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img\chat3.png' %}" class="img-top" alt="">
        </div>
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };
    
    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock content %}
