{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>
    
    .card-bordered{
        border: 1px solid #ebebeb
    }
    .col-lg-6{
        padding-top: 5%;
    }
    .card{
        border: 0;
        height: 500px;
        width: 500px;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.753);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.644);
        -webkit-transition: .5s;
        transition: .5s;
    }
    .card-header,.card-footer{
        background-color: #287B92;
        color: #fff;
    }
    .btn{
        border-radius: 100%;
    }
    #chat-message-submit{
        color: #fff;
    }
    .card-body,.text{
        height: 100%;
        width: 100%;
    }
    #chat-log{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
    p.left,p.right{
        padding:.3rem;
        margin: 0;
        border-radius: 5px;
    }
    p.left{
        width: 100%;
        text-align: left;
    }
    p.right{
        width: 100%;
        text-align: right;
    }
   .img-top{
   width: 40vw;
   height: 70vh;
   display: flex;
   background-color: transparent;
   object-fit: cover;
  }
    @media screen and (max-width: 660px) {
    .card{
        width: 100vw;
        height: 95vh;
        margin-bottom: 0;
        display: inline-block;
    }
    .card-body,.text{
        height: 73vh;
        width: 100vw;
    }
   .card-footer{
       padding-left: 5px;
       padding-right: 2px;
   }
    .col-lg-6 {
      padding: 0;
      width: 100vw;
      height: auto;
      display: flex;
    }
    #chat-log{
        overflow-y: scroll;
        width: 90vw;
    }
    .row{
     height: 90vh;
     width: 100vw;
    }
  }
   
</style>   

{% endblock css %}
    
{% block content %}

<div class="container con">
    <div class="row">
        <div class="col-lg-6">
            <div class="card ">
                <div class="card-header">{{room_name}}</div>
                <div class="card-body">
                   <div class="text" id="chat-log"> </div>
                </div>
               <div class="card-footer">
                   <input id="chat-message-input" type="text" style="width: 85%;" placeholder="Write Something..">
                   <a class="btn text-info">
                   <i class="fa fa-paper-plane" id="chat-message-submit" type="button"></i>
                   </a> 
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-top" src="{% static 'img\chat4.png' %}" alt="">
        </div>
    </div>
       
    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            console.log(data.client.client)
            let msg="";
            if (data.client.client ==='True'){
               msg ='<p class="right"><b class="badge badge-primary">'+data.sender+'</b> :'+data.message+'</p>';
            }
            else{
                msg ='<p class="left"><b class="badge badge-danger">'+data.sender+'</b> :'+data.message+'</p>';
            }
            document.querySelector('#chat-log').innerHTML += msg;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        
        

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            var isclient = "{{user.is_client}}"
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': "{{ user }}",
                'client':isclient

            }));
            messageInputDom.value = '';
        };
    </script>
    
</div>

{% endblock content %}
