{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    .container{
        padding-top: 20px;
    }
    .col-lg-6{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .card{
        border-radius: .5rem;
        width: 400px;
        height: auto;
      
    }
    .card-img-top{
        width: 400px;
        height: 200px;
        object-fit: cover;
    }
</style>
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row  justify-content-center">
        <div class="col-l2">
            <form class="form-inline" action="{% url 'search_cases' %}">
                <div class="form-group">
                    <label for="q" class="p-2"><i class="fa fa-search" aria-hidden="true"></i> </label>
                    <input type="text" name="q" id="q" class="form-control " placeholder="Case name" aria-describedby="qhelp">
                    <button class="btn btn-sm btn-primary">search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for record in page_obj %}
        <div class="col-lg-6 col-xs-4 my-2">
            <div class="card">
                <a href="{% url 'detail_cases' record.id %}"><img class="card-img-top" src="{{ record.case_image.url }} " alt=""></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'detail_cases' record.id %}">{{record.caseName}}</a></h4>
                    
                    <li class="list-group-item">Upload: {{record.user}}</li>
                    <li class="list-group-item">Posted on:{{record.requested_on}}</li>
                    <li class="list-group-item">{{record.category}}</li>
                    <li class="list-group-item">Phone no.:{{record.contact_No}}</li>
                  
                </div>
                
                {% if user.is_client %}
                    
                <div class="card-footer">
                    <a class="btn btn-warning" href="{% url 'delete_case' record.pk %}"><i class="fa fa-remove" aria-hidden="true"></i>delete</a>
                    <a class="btn btn-info" href="{% url 'edit_case' record.pk %}"><i class="fa fa-edit" aria-hidden="true"></i>edit</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detail of {{record.caseName}}</h4>
                    <p class="card-text">{{record.description|linebreaks}}</p>
                </div>
            </div>
        </div>
        
        {% empty %}
        <p class="lead">No records found</p>
        {% endfor %}
        
    </div>
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"></li><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                    {% endif %}
                    
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>
                    
                    {% if page_obj.has_next %}
                    <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}

{% endblock js %}
