{% extends 'layout/base.html' %}

{% block content %}
   <div class="container">
       <div class="row">
           <div class="col">
            <h1>Welcome to website of india</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ducimus cupiditate quia saepe temporibus? Blanditiis nemo aspernatur dicta quo distinctio, quas praesentium dolorum odit doloribus placeat error. Ipsum, vero molestias.</p>
            <a href="{% url 'dashboard' %}">Goto Dashboard</a>    
           </div>
       </div>
   </div>
{% endblock content %}
    