{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 15px;
      margin-left: 15px;
      align-items: center;
  }
  .column {
    display: flex;
    float: left;
    width: 33.3%;
    height: 270px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 8px;
  }
  .card{
    width: auto;
    height: 255px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.397);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
  }
  .card:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.651);
  }
  .card .card-block .img-fluid{
    display: block;
    border-radius: 0.5rem;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  .buttn .btn{ 
      display:inline-flex;
      width: 20%;
      justify-content: center;
      border-radius: 8px;
      color: white;
      background-color: #287B92;
  }
  .buttn .btn:hover{
    background-color: #D95C46;
    color: rgb(255, 255, 255);
    transform: translateY(-0.5%);
  }
  
  .card-block .btn{
    display: block;
    border: none;
    border-radius: 0.5rem;
    padding: 8px;
    color: white;
    background-color: #287B92;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .btn:hover{
    background-color: #DC7E56;
    color: rgb(255, 255, 255);
  }
  .lead{
    display: flex;
    height: 80vh;
    width: 70vw;
    align-items: center;
  }
  .img .img-top{
   width: 40vw;
   height: 70vh;
   display: flex;
   object-fit: cover;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 660px) {
    
    .column {
      width: 100%;
      display: flex;
    }
    .lead{
     height: auto;
     width: auto;
    }
    .img .img-top{
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
</style>
{% endblock css %}
  
{% block content %} 
{% include 'notification.html' %}
<body>
<div class="container py-5 text-center">
  <div class="row lead">
    <div class="col-lg-6">
        <h1>Welcome To Legal Web</h1>
        {% if user.is_authenticated %}
            <p><a href="{% url 'dashboard' %}">View Dashboard</a></p>
        {% else %}
         <div class="buttn">
            <p><a  class="btn" href="{% url 'login' %}" role="button">Login</a>
             <a  class="btn" href="{% url 'register' %}" role="button">Register</a>
            </p>
         </div>
        {% endif %}
    </div>
    <div class="col-lg-6">
      <div class="img">
        <img class="img-top" src="static\img\weigh.png" >
      </div>
    </div>
  </div>    
        
        <div class="row">
            <div class="column">
              <div class="card">
                <div class="card-block">
                  <img src="static\img\law3.jpg" alt="Jane" class="img-fluid">
                  <div class="card-title">
                    {% if user.is_authenticated %}
                      {% if user.is_client %}
                      <a href="{% url 'upload_cases' %}" class="btn">Post a case</a> 
                      {% else %}
                      <a href="#" class="btn">Post a case</a>
                      {% endif  %} 
                    {% else %}
                    <a href="{% url 'login' %}" class="btn">Post a case</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
       
            <div class="column">
                <div class="card">
                  <div class="card-block">
                    <img src="https://images.unsplash.com/photo-1605664041952-4a2855d9363b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGxhd3llcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                    <div class="card-title">
                      {% if user.is_authenticated %}
                      <a href="{% url 'view_lawyer' %}" class="btn">View Lawyers</a> 
                      {% else %}
                      <a href="{% url 'login' %}" class="btn">View Lawyers</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <div class="card-block">
                    <img src="static\img\book.jpg" alt="Jane" class="img-fluid">
                    <div class="card-title">
                      {% if user.is_authenticated %}
                      <a href="{% url 'view_fought' %}" class="btn">Cases fought by Lawyers</a> 
                      {% else %}
                      <a href="{% url 'login' %}" class="btn">Cases fought by Lawyers</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <div class="card-block">
                    <img src="https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGF3fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                    <div class="card-title">
                      {% if user.is_authenticated %}
                      
                        {% if user.is_lawyer %}
                          <a href="{% url 'add_CasesFought' %}" class="btn">Add Fought Cases</a>
                        {% else %}
                          <a href="#" class="btn">Add Fought Cases</a>
                        {% endif %}
                        
                      {% else %}
                      <a href="{% url 'login' %}" class="btn">Add Fought Cases</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <div class="card-block">
                    <img src="https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGF3fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                    <div class="card-title">
                      {% if user.is_authenticated %}
                      <a href="{% url 'view_lawyer' %}" class="btn">Search Lawyers</a> 
                      {% else %}
                      <a href="{% url 'login' %}" class="btn">Search Lawyers</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <div class="card-block">
                    <img src="https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxhd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                    <div class="card-title">
                      {% if user.is_authenticated %}
                       {% if user.is_client %}
                       <a href="{% url 'upload_cases' %}" class="btn">Ask a Question</a> 
                       {% else %}
                       <a href="#" class="btn">Ask a Question</a> 
                       {% endif %}
                      {% else %}
                      <a href="{% url 'login' %}" class="btn">Ask a Question</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>  
        </div>
</div> 

{% endblock content %}
    