{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
   
   .container-fluid.wrapper{
       padding: 0;
   }
   
    a.waves-effect, a.waves-light{
      display: inline-block;
      align-self: flex-end;
    }

    .col-lg-6 .card{
      height: 150px;
      width: 400px;
        
    }
    .col-lg-6 .card-body .b{
      display: flex;
      justify-content: center;
    }

    .col-lg-6 .card:hover{
       cursor: pointer;
       transform: translateY(-1.2%);
       transition: 0.3s;
    }

    .col-lg-6 .card-title{
        display: flex;
        justify-content: center;
    }
  
   .container .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }

    .column {
    display: flex;
    float: left;
    width: 33.3%;
    height: 270px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 8px;
    }

    .column .card{
    width: 300px;
    height: 255px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.397);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    }

   .column .card:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.651);
    }

  .column .card .card-block .img-fluid{
  display: block;
  border-radius: 0.5rem;
  width: 300px;
  height: 200px;
  object-fit: cover;
  }

  .column .card-block .btn{
  display: block;
  border: none;
  border-radius: 0.5rem;
  padding: 8px;
  color: white;
  background-color: #287B92;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  }
  .column .card-block .btn:hover{
  background-color:  #EE9E81;
  color: rgb(255, 255, 255);
  }
  .lead{
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
  }
  .col-lg-6{
    padding-top: 20px;
    padding-left: 12%;
  }
  .img .img-top{
   width: 40vw;
   height: 60vh;
   display: flex;
   object-fit: cover;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* #hello{
    padding-left: 15%;
  } */
  @media screen and (max-width: 660px) 
  {
    .column {
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .lead{
     height: 50vh;
     width: 100vw;
    }
    .img .img-top{
      display: flex;
      height: 100%;
      width: 100%;
    }
    .col-lg-6{
      width: 100vw;
      justify-content: center;
    }
    .col-lg-6 .card{
      height: 100px;
      width: 300px;
    }
    #hello{
      padding-left:18%;
    }

  }
</style>
{% endblock css %}

{% block content %}
<style>body{ background-color: #fff;}</style>

<div class="container-fluid  wrapper">
    <div class="row lead" >
      <div class="col-lg-6">
        <div class="img">
          <img class="img-top" src="{% static 'img\lawback2.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6" id="hello">
          <div class="card">
            <div class="card-body">
              <b>
                Hello, {{ user.username|default:'Guest' }} 
              </b>
            <h4 class="card-title">
              You are
              {% if user.is_authenticated %} 
              {% if user.is_lawyer %}
              Lawyer
              {% elif user.is_client %}
              Client
              {% elif user.is_superuser %}
              Admin
              {% endif %}
              {% else %}
              Guest
              {% endif %}
            </h4>
          </div>
        
      </div>
    </div>
  </div>

  <div class="container ">
    <div>
          {% if user.is_authenticated %}   
              {% if user.is_lawyer %}
                <div class="row">
                  <div class="column">
                    <div class="card">
                      <div class="card-block">
                        <img src="{% static 'img\book.jpg' %}" alt="Jane" class="img-fluid">
                        <div class="card-title">
                         <a href="{% url 'view_cases' %}" class="btn">View Cases Requests</a> 
                        </div>
                      </div>
                  </div>
                </div>


                    <div class="column">
                        <div class="card">
                          <div class="card-block">
                            <img src="https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGF3fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                            <div class="card-title">
                             <a href="{% url 'add_CasesFought' %}" class="btn">Add Cases Fought</a> 
                            </div>
                          </div>
                        </div>
                    </div>         
                    
                    
                    <div class="column">
                        <div class="card">
                          <div class="card-block">
                             <img src="{% static 'img\book.jpg' %}" alt="Jane" class="img-fluid">
                             <div class="card-title">
                              <a href="{% url 'lawyer_profile' %}" class="btn">Edit Profile</a>
                             </div>
                          </div>
                        </div>
                    </div>
                  
                                <!--<a href="{% url 'view_cases' %}">View Cases Request</a> <br>
                                <a href="{% url 'add_CasesFought' %}">Add Cases Fought</a> <br>
                                <a href="{% url 'lawyer_profile' %}">Edit Profile</a><br>-->
                            
                 {% elif user.is_client %}
                 <div class="row">
                    <div class="column">
                     <div class="card">
                        <div class="card-block">
                            <img src="https://images.unsplash.com/photo-1605664041952-4a2855d9363b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGxhd3llcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Jane" class="img-fluid">
                            <div class="card-title">
                             <a href="{% url 'view_lawyer' %}" class="btn">View Lawyers</a> 
                            </div>
                        </div>
                    </div>
                 </div>


                 <div class="column">
                    <div class="card">
                      <div class="card-block">
                        <img src="{% static 'img\law3.jpg' %}" alt="Jane" class="img-fluid">
                        <div class="card-title">
                          <a href="{% url 'upload_cases' %}" class="btn">Post your Case</a> 
                        </div>
                      </div>
                    </div>
                 </div>         
                 <div class="column">
                  <div class="card">
                    <div class="card-block">
                       <img src="{% static 'img\client.png' %}" alt="Jane" class="img-fluid">
                       <div class="card-title">
                        <a href="{% url 'client_profile' %}" class="btn">Visit Profile</a>
                       </div>
                    </div>
                  </div>
              </div>
                
                               <!--<a href="{% url 'view_lawyer' %}">View lawyers</a><br>
                                <a href="{% url 'upload_cases' %}">Add a judicial Case </a> <br>
                                <a href="{% url 'password_change' %}">change password </a> <br>
                                <a href="{% url 'password_reset' %}">reset password </a> <br>
                                <a class="btn btn-primary btn-sm " href="{% url 'logout' %}">Signout</a> <br>-->
                                
                 {% elif user.is_superuser %}
                  <a class="btn btn-primary btn-sm " href="{% url 'admin:index' %}">Visit backend</a> <br>
                  <a class="btn btn-primary btn-sm " href="{% url 'logout' %}">Signout</a> <br>
                 {% endif %}
                                
                {% else %}
                <p>Please Login to Avail our services!!</p>  
                {% endif %}
              </div>
            </div>
         </div>
  </div>
</div>
{% endblock content %}