{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    .wrapper{
        background-color: aliceblue; 
    }
    .sideimg{
        background-image: url("{% static 'img/bg.jpg' %}");
        background-position: right;
        height: 100vh;
    }
</style>

{% endblock css %}

{% block content %}

<div class="container-fluid  wrapper">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        Hello, <b>{{ user.username|default:'Guest' }} </b>
                        <div>
                            {% if user.is_authenticated %}   

                               {% if user.is_lawyer %}
                                <a href="{% url 'view_cases' %}">View Cases Request</a> <br>
                                <a href="{% url 'add_CasesFought' %}">Add Cases Fought</a> <br>
                                <a href="{% url 'lawyer_profile' %}">Edit Profile</a><br>
                                <a class="btn btn-primary btn-sm " href="{% url 'logout' %}">Signout</a> <br>
                                
                               {% elif user.is_client %}
                                <a href="{% url 'view_lawyer' %}">View lawyers</a><br>
                                <a href="{% url 'upload_cases' %}">Add a judicial Case </a> <br>
                                <a href="{% url 'password_change' %}">change password </a> <br>
                                <a href="{% url 'password_reset' %}">reset password </a> <br>
                                <a class="btn btn-primary btn-sm " href="{% url 'logout' %}">Signout</a> <br>
                                
                               {% elif user.is_superuser %}
                                <a class="btn btn-primary btn-sm " href="{% url 'admin:index' %}">Visit backend</a> <br>
                                <a class="btn btn-primary btn-sm " href="{% url 'logout' %}">Signout</a> <br>
                               {% endif %}
                                
                            {% else %}
                                <a href="{% url 'login' %}">Login</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 sideimg">
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {% if user.is_authenticated %}   
                                        You are
                                        {% if user.is_lawyer %}
                                        Lawyer
                                        {% elif user.is_client %}
                                        Client
                                        {% elif user.is_superuser %}
                                        Admin
                                        {% endif %}
                                    {% endif %}
                                </h4>
                                <p class="card-text">Lorem, ipsum dolor laboriosam ipsa nulla. Ea soluta ducimus odio numquam, quasi eveniet nihil maxime.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
