{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}

{% endblock css %}


{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-lg-6">
            <div class="card">
                <img src="{{ result.image.url }}" class="card-img-top" alt="{{ result.Username }}">
                <div class="card-body">
                    
                    <blockquote class="blockquote">
                        <p class="mb-0">{{result.Username}}</p>
                    </blockquote>
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{result.gender}}</li>
                    <li class="list-group-item">Phone No.: {{result.contact_no}}</li>
                    <li class="list-group-item">{{result.email}}</li>
                    <li class="list-group-item">Address: {{result.address}}</li>
                    
                </ul>
               
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bio</h4>
                    <p class="card-text">{{result.bio|linebreaks}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}


{% block js %}

{% endblock js %}
