{% extends "layout/base.html" %}
{% load crispy_forms_tags %} 
{% block css %}
<style>
.card-img-top{
        width:500px;
        height: 300px; 
        object-fit: contain; 
  }
  
</style>
{% endblock css %}

{% block content %}
 
 <div class="container mx-auto">
	    <div class="row justify-content-center">
	    	<div class="col-sm-6  pb-5">
		    	<div class="card p-5">
			    	<h4 class="card-title font-weight-bold text-center">{{ client.user|title }}</h4>
			      	<hr>
			    	<div class="card-text">
              <img class="card-img-top" src="{{ client.pic.url }}" alt="{{client.username}}">
			    		<p class="text mb-0" style="font-size: 12px">Username: {{ client.user }}</p>
			    		
			    	
				  		<p class="text mb-0" style="font-size: 12px">Email:  {{ client.email }}</p>
				  		
              <p class="text mb-0" style="font-size: 12px;">Contact No:  {{client.contact}}</p>
              
              <div class="text-left">
                <a type="button" href="/storage/cases" class="btn btn-outline-primary btn-sm">My Posts</a>
              </div>  
              <div class="text-right">
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
              </div>                              
                                 
			      </div>
		    	</div>
			</div>
		</div>
	</div>

    <!--Edit user modal-->
	<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form|crispy }}
              </div>
                <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                  </form> 
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
  </div>

{% endblock content %}